:root {
  --second-font-family: Raleway, sans-serif;
  --main-font-color: #212121;
  --accent-color: #2196f3;
  --secondary-color: #ffffff;
  --secondary-font-color: #757575;
  --background-hero: #c4c4c4;
  --btn-bgr-color: #188ce8;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --about-us-bgr: #f5f4fa;
  --border-header-color: #e5e5e5;
  --skills-border-color: #eeeeee;
  --social-icon-color: #afb1b8;
  --footer-bg-color: #2f303a;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: var(--main-font-color);
}

.navigation-item-selected {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  padding-bottom: 32px;
  padding-top: 32px;
  display: block;
}

.navigation-item-selected::after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  transform: translateX(-100%);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*===header+footer===*/

.logo {
  font-family: var(--second-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 93px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*===header===*/

.header-container {
  display: flex;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.upweb {
  background-color: var(--secondary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--border-header-color);
}

.logo-part-two {
  color: var(--main-font-color);
}

.contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts-list-item {
  color: var(--secondary-font-color);
  display: flex;
  align-items: center;
  padding-bottom: 32px;
  padding-top: 32px;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.contacts-icon {
  display: inline-block;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.mail,
.tel {
  margin-right: 50px;
  display: flex;
  align-items: center;
}
.navigation-item {
  position: relative;
  color: var(--main-font-color);
  padding-bottom: 32px;
  padding-top: 32px;
  display: block;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-list-item:hover,
.contacts-list-item:focus,
.navigation-item:hover,
.navigation-item:focus {
  color: var(--accent-color);
  background-color: var(--secondary-color);
}

/*===main index===*/

.hero {
  background-color: var(--background-hero);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img-bg.jpg);
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  cursor: pointer;
  margin-top: 30px;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  min-width: 200px;
  padding: 10px 32px;
  transition: background var(--transition-duration)
    var(--transition-timing-function);
}

.modal-btn:focus,
.modal-btn:hover {
  background: var(--btn-bgr-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.features {
  padding-bottom: 0px;
}

.icon-box {
  height: 120px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.features-icon {
  width: 70px;
  height: 70px;
}

.features-list {
  display: flex;
  justify-content: space-between;
}

.features-list-item {
  width: 270px;
}
.features-list-item:not(:last-child) {
  margin-right: 30px;
}

.features-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-item-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
  margin-top: 10px;
}

.about-us {
  background-color: var(--about-us-bgr);
}

.job-title,
.about-us-title,
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.job-items-list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.job-items-list .members-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.job-list-item {
  position: relative;
}

.job-list-item:not(:last-child) {
  margin-right: 30px;
}

.job-item-description {
  position: absolute;
  bottom: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  min-height: 70px;
  padding-top: 27px;
}

.members-list {
  display: flex;
  margin-top: 50px;
}
.members-list li:not(:last-child) {
  margin-right: 10px;
}

.members-list li {
  background-color: var(--secondary-color);
}

.members-list-item {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.members-item-description {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
  margin-top: 10px;
}
.about-members {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
}

.social-webs {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.web {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.web-icon {
  width: 20px;
  height: 20px;
  fill: var(--social-icon-color);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.web:hover,
.web:focus {
  background-color: var(--accent-color);
}

.web:hover .web-icon,
.web:focus .web-icon {
  fill: var(--secondary-color);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;

  margin-top: 50px;
}

.clients-list-item:not(:last-child) {
  margin-right: 30px;
}

.client-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  background-color: transparent;
  border: 1px solid var(--social-icon-color);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border var(--transition-duration)
    var(--transition-timing-function);
}

.client-item-link:focus,
.client-item-link:hover {
  border: 1px solid var(--accent-color);
  box-sizing: border-box;
  border-radius: 4px;
}

.client-item-link:hover .clients-icon,
.client-item-link:focus .clients-icon {
  fill: var(--accent-color);
}

.clients-icon {
  fill: var(--social-icon-color);
  padding-top: auto;
  padding-bottom: auto;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

/*===footer===*/

.contact-box {
  margin-right: 70px;
}

.downweb {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-part-three {
  color: var(--secondary-color);
}

.address-description {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
}
.address-contacts-list {
  margin-top: 9px;
}

.address-contacts-item {
  color: var(--contacts-color);
  margin-bottom: 9px;
}
.address-contacts-item:not(:first-child) {
  margin-bottom: 0px;
}

.address-text {
  color: var(--secondary-color);
}

.footer-box {
  display: flex;
  align-items: baseline;
}

.info-box {
  margin-right: 70px;
}

.social-box {
  margin-right: 93px;
}

.social-box-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-color);
}

.foot {
  background-color: rgba(255, 255, 255, 0.1);
}

.downer {
  fill: var(--secondary-color);
}

.downfoot:not(:last-child) {
  margin-right: 10px;
}

.subscribe-form {
  display: flex;
  flex-wrap: nowrap;
}

.subscribe-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.mail-field {
  width: 350px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  outline: none;
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-color);
}

.mail-field::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  padding-left: 29px;
  background: var(--accent-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  cursor: pointer;
  transition: box-shadow var(--transition-duration)
    var(--transition-timing-function);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-icon {
  fill: var(--secondary-color);
  margin-left: 10px;
}

/*===portfolio main===*/

.portfolio-buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn {
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 63;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--about-us-bgr);
  cursor: pointer;
  border: none;
  transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);
}

.one {
  width: 73px;
}

.two {
  width: 128px;
}

.three {
  width: 145px;
}

.four {
  width: 103px;
}

.five {
  width: 130px;
}

.portfolio-buttons-list li:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--secondary-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.skills-list-item:focus,
.skills-list-item:hover {
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
}

.skills-list li {
  flex-basis: calc((100% - 90px) / 3);
}

.skills-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-font-color);
  margin-bottom: 4px;
}

.skills-list-item {
  margin-top: 30px;
  margin-right: 30px;
}
.skills-list-item:nth-child(n + 4) {
  margin-top: 30px;
}
.skills-list-item:nth-child(3n) {
  margin-right: 0px;
}

.skill-info {
  border-bottom: 1px solid var(--skills-border-color);
  border-left: 1px solid var(--skills-border-color);
  border-right: 1px solid var(--skills-border-color);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 20px;
}

.skills-item-description {
  font-size: 16px;
  line-height: 1, 86;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.card-link:hover .overlay,
.card-link:focus .overlay {
  transform: translateY(0);
}

/* ------Modal Window------ */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 77;
  transition: opacity var(--transition-duration)
      var(--transition-timing-function),
    visibility var(--transition-duration) var(--transition-timing-function);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 521px;
  background-color: var(--secondary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0;
}

.close-button-icon {
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.modal-close-btn:focus .close-button-icon,
.modal-close-btn:hover .close-button-icon {
  fill: var(--accent-color);
}

.modal-request {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.label-name {
  margin-bottom: 4px;
}

.modal-data-thumb {
  position: relative;
}

.info-field {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 42px;
  transition: border var(--transition-duration)
    var(--transition-timing-function);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  height: 18px;
  width: 18px;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.info-field:focus,
.coment-area:focus {
  border: 1px solid #2196f3;
}

.info-field:focus + .modal-icon {
  fill: var(--accent-color);
}

.coment-area {
  padding: 12px 16px;
  resize: none;
  width: 100%;
  height: 120px;
  overflow: auto;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  margin-bottom: 20px;
  transition: border var(--transition-duration)
    var(--transition-timing-function);
}

.modal-policy-label {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
}

.modal-policy-link {
  color: var(--accent-color);
}

.checkbox-icon {
  display: inline-block;
  display: flex;
  align-items: center;
  border: 1px solid var(--main-font-color);
  transition: border var(--transition-duration)
    var(--transition-timing-function);
}

.modal-policy-icon {
  opacity: 0;
  transition: opacity var(--transition-duration)
    var(--transition-timing-function);
}

.modal-checkbox:checked + .modal-policy-label .modal-policy-icon {
  opacity: 1;
}

.modal-checkbox:checked + .modal-policy-label .checkbox-icon {
  border: none;
}

.modal-submit-btn {
  align-self: center;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  background-color: var(--btn-bgr-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: var(--accent-color);
}
